In [1]:
#IMPORT MODULES
import pandas as pd
import numpy as np
import openpyxl

In [2]:
#IMPORT THE DATA
data = pd.read_csv('MenuItem.csv')
#DISPLAY INFO
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332726 entries, 0 to 1332725
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   id            1332726 non-null  int64
 1   menu_page_id  1332726 non-null  int64
 2   price         886810 non-null   float64
 3   high_price    91905 non-null    float64
 4   dish_id       1332485 non-null  float64
 5   created_at    1332726 non-null  object
 6   updated_at    1332726 non-null  object
 7   xpos          1332726 non-null  float64
 8   ypos          1332726 non-null  float64
dtypes: float64(5), int64(2), object(2)
memory usage: 91.5+ MB

In [3]:
#DATA FOR EXECL EXPLORATION:
subdata1 = data.loc[0:599999,:]
subdata2 = data.loc[600000:,:]
ld = len(data)
s1d = len(subdata1)
s2d = len(subdata2)
print(f"Length of subdata sets equal to length of data: {ld-(s1d+s2d)}") # Check completeness 
#Send to Excel
with pd.ExcelWriter('dataClean_MenuItem.xlsx', engine='openpyxl') as writer:
    subdata1.to_excel(writer, sheet_name='s1d', index=False)
    subdata2.to_excel(writer, sheet_name='s2d', index=False)

Length of subdata sets equal to length of data: 0

In [24]:

data['price_clean'] = data['price'].fillna(0) #use 0 for Null values
data['high_price_clean'] = data['high_price'].fillna(0) #use 0 for Null values
data['dish_id_clean'] = (data['dish_id'].fillna(0)).astype(int) #use 0 for Null values and convert to int
data['created_at_clean'] = pd.to_datetime(data['created_at'], utc=True) #convert to datetime
data['updated_at_clean'] = pd.to_datetime(data['updated_at'], utc=True) #convert to datetime

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332726 entries, 0 to 1332725
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1332726 non-null  int64
 1   menu_page_id      1332726 non-null  int64
 2   price             886810 non-null   float64
 3   high_price        91905 non-null    float64
 4   dish_id           1332485 non-null  float64
 5   created_at        1332726 non-null  object
 6   updated_at        1332726 non-null  object
 7   xpos              1332726 non-null  float64
 8   ypos              1332726 non-null  float64
 9   price_clean       1332726 non-null  float64
 10  high_price_clean  1332726 non-null  float64
 11  created_at_clean  1332726 non-null  datetime64[ns, UTC]
 12  updated_at_clean  1332726 non-null  datetime64[ns, UTC]
 13  dish_id_clean     1332726 non-null  int32
dtypes: datetime64[ns, UTC](2), float64(7), int32(1), int64(2), object(2)
memory usage: 137.3+ MB

In [27]:
#SAVE CLEAN DATA TO CSV
# Save the DataFrame to a CSV file
data.to_csv('MenuItem_cleaned.csv', index=False)